.item th,
.item td {
  text-align: left;
}

.item th {
  width: 400px;
  font-weight: inherit;
}

.item td:first-child {
  width: 2em;
}

.item-selectable {
  cursor: pointer;
}

.item-selectable:hover td,
.item-selectable:hover th {
  background: #1e1e14;
}
